#actualizaciones{
    text-align: center;
    padding: 2rem;
}

ion-content{
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    height: 70%;    
}

ion-checkbox{
    padding: 20px;
    float: center;
    padding-bottom: 20%;
}

ion-button{
    padding-left: 90px;
    float: left;
}

#espacio{
    padding-bottom: 10px;
}

#letra{
    text-align: left;
    font-weight: bold;
}
