#actualizaciones{
    text-align: center;
    padding: 1rem;
}

ion-content{
    position: absolute;
    top: 15%;
    left: 35%;
    width: 35%;
    height: 70%;    
}

ion-button{
    padding-left: 20px;
    float: left;
}

#espacio{
    padding-bottom: 5px;
}

form{
    padding: 5px;
}

#letra{
    text-align: left;
}
