<ion-header>
  <ion-toolbar>
    <ion-title>Revisa tus Actualizaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="container">
    <ion-card-header>
      <ion-card-title>Revisa tus Actualizaciones</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button expand="full" color="danger" class="close-button">x</ion-button>
      <div class="info-box">
        <h2>Logros</h2>
        <!-- Add content for logros here -->
      </div>

      <ion-button expand="full" color="danger" class="close-button">x</ion-button>
      <div class="info-box">
        <h2>Certificaciones</h2>
        <!-- Add content for certificaciones here -->
      </div>

      <ion-button expand="full" color="danger" class="close-button">x</ion-button>
      <div class="info-box">
        <h2>Idiomas</h2>
        <!-- Add content for idiomas here -->
      </div>

      <ion-button expand="full" color="primary">Regresar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
